{
    "domain": "{$DOMAIN}",
    "port": "{$PORT}",
    "sub_protocol": "{$SUB_PROTOCOL}",
    "password": "{$PASSWORD}",
    "id": "{$AGENT_ID}",
    "ext": "{$EXT}",
    "acd_dn": "{$ACD_DN}",
    "center_id": "{$CENTER_ID}",
    "ssl": true
}